Interfaz_WPF/AccesoServicio/Service References/FinanzasService/ContabilidadService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ContabilidadService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5603/ContabilidadService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5603/ContabilidadService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5603/ContabilidadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SIA.Libreria" />
      <xsd:import schemaLocation="http://localhost:5603/ContabilidadService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SIA.TipoCambio" />
      <xsd:import schemaLocation="http://localhost:5603/ContabilidadService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SIA.Contabilidad.Libreria" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContabilidadService_Saludar_InputMessage">
    <wsdl:part name="parameters" element="tns:Saludar" />
  </wsdl:message>
  <wsdl:message name="IContabilidadService_Saludar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaludarResponse" />
  </wsdl:message>
  <wsdl:message name="IContabilidadService_ObtenerEmpresas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpresas" />
  </wsdl:message>
  <wsdl:message name="IContabilidadService_ObtenerEmpresas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpresasResponse" />
  </wsdl:message>
  <wsdl:message name="IContabilidadService_ObtenerMonedas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMonedas" />
  </wsdl:message>
  <wsdl:message name="IContabilidadService_ObtenerMonedas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMonedasResponse" />
  </wsdl:message>
  <wsdl:message name="IContabilidadService_AutenticarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AutenticarUsuario" />
  </wsdl:message>
  <wsdl:message name="IContabilidadService_AutenticarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutenticarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IContabilidadService_InsertarNuevoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarNuevoUsuario" />
  </wsdl:message>
  <wsdl:message name="IContabilidadService_InsertarNuevoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarNuevoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IContabilidadService_InsertarNuevaEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarNuevaEmpresa" />
  </wsdl:message>
  <wsdl:message name="IContabilidadService_InsertarNuevaEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarNuevaEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IContabilidadService_InsertarNuevaMoneda_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarNuevaMoneda" />
  </wsdl:message>
  <wsdl:message name="IContabilidadService_InsertarNuevaMoneda_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarNuevaMonedaResponse" />
  </wsdl:message>
  <wsdl:message name="IContabilidadService_CrearCuenta_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearCuenta" />
  </wsdl:message>
  <wsdl:message name="IContabilidadService_CrearCuenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="IContabilidadService_GuardarPeriodoContable_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarPeriodoContable" />
  </wsdl:message>
  <wsdl:message name="IContabilidadService_GuardarPeriodoContable_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarPeriodoContableResponse" />
  </wsdl:message>
  <wsdl:message name="IContabilidadService_DemeCuentasHijas_InputMessage">
    <wsdl:part name="parameters" element="tns:DemeCuentasHijas" />
  </wsdl:message>
  <wsdl:message name="IContabilidadService_DemeCuentasHijas_OutputMessage">
    <wsdl:part name="parameters" element="tns:DemeCuentasHijasResponse" />
  </wsdl:message>
  <wsdl:message name="IContabilidadService_DemeMonedasCuenta_InputMessage">
    <wsdl:part name="parameters" element="tns:DemeMonedasCuenta" />
  </wsdl:message>
  <wsdl:message name="IContabilidadService_DemeMonedasCuenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:DemeMonedasCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="IContabilidadService_DemeCambio_InputMessage">
    <wsdl:part name="parameters" element="tns:DemeCambio" />
  </wsdl:message>
  <wsdl:message name="IContabilidadService_DemeCambio_OutputMessage">
    <wsdl:part name="parameters" element="tns:DemeCambioResponse" />
  </wsdl:message>
  <wsdl:message name="IContabilidadService_AgregarAsiento_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarAsiento" />
  </wsdl:message>
  <wsdl:message name="IContabilidadService_AgregarAsiento_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarAsientoResponse" />
  </wsdl:message>
  <wsdl:message name="IContabilidadService_InsertarAsiento_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarAsiento" />
  </wsdl:message>
  <wsdl:message name="IContabilidadService_InsertarAsiento_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarAsientoResponse" />
  </wsdl:message>
  <wsdl:portType name="IContabilidadService">
    <wsdl:operation name="Saludar">
      <wsdl:input wsaw:Action="http://tempuri.org/IContabilidadService/Saludar" message="tns:IContabilidadService_Saludar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContabilidadService/SaludarResponse" message="tns:IContabilidadService_Saludar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmpresas">
      <wsdl:input wsaw:Action="http://tempuri.org/IContabilidadService/ObtenerEmpresas" message="tns:IContabilidadService_ObtenerEmpresas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContabilidadService/ObtenerEmpresasResponse" message="tns:IContabilidadService_ObtenerEmpresas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerMonedas">
      <wsdl:input wsaw:Action="http://tempuri.org/IContabilidadService/ObtenerMonedas" message="tns:IContabilidadService_ObtenerMonedas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContabilidadService/ObtenerMonedasResponse" message="tns:IContabilidadService_ObtenerMonedas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AutenticarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IContabilidadService/AutenticarUsuario" message="tns:IContabilidadService_AutenticarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContabilidadService/AutenticarUsuarioResponse" message="tns:IContabilidadService_AutenticarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarNuevoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IContabilidadService/InsertarNuevoUsuario" message="tns:IContabilidadService_InsertarNuevoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContabilidadService/InsertarNuevoUsuarioResponse" message="tns:IContabilidadService_InsertarNuevoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarNuevaEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IContabilidadService/InsertarNuevaEmpresa" message="tns:IContabilidadService_InsertarNuevaEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContabilidadService/InsertarNuevaEmpresaResponse" message="tns:IContabilidadService_InsertarNuevaEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarNuevaMoneda">
      <wsdl:input wsaw:Action="http://tempuri.org/IContabilidadService/InsertarNuevaMoneda" message="tns:IContabilidadService_InsertarNuevaMoneda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContabilidadService/InsertarNuevaMonedaResponse" message="tns:IContabilidadService_InsertarNuevaMoneda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearCuenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IContabilidadService/CrearCuenta" message="tns:IContabilidadService_CrearCuenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContabilidadService/CrearCuentaResponse" message="tns:IContabilidadService_CrearCuenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarPeriodoContable">
      <wsdl:input wsaw:Action="http://tempuri.org/IContabilidadService/GuardarPeriodoContable" message="tns:IContabilidadService_GuardarPeriodoContable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContabilidadService/GuardarPeriodoContableResponse" message="tns:IContabilidadService_GuardarPeriodoContable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DemeCuentasHijas">
      <wsdl:input wsaw:Action="http://tempuri.org/IContabilidadService/DemeCuentasHijas" message="tns:IContabilidadService_DemeCuentasHijas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContabilidadService/DemeCuentasHijasResponse" message="tns:IContabilidadService_DemeCuentasHijas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DemeMonedasCuenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IContabilidadService/DemeMonedasCuenta" message="tns:IContabilidadService_DemeMonedasCuenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContabilidadService/DemeMonedasCuentaResponse" message="tns:IContabilidadService_DemeMonedasCuenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DemeCambio">
      <wsdl:input wsaw:Action="http://tempuri.org/IContabilidadService/DemeCambio" message="tns:IContabilidadService_DemeCambio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContabilidadService/DemeCambioResponse" message="tns:IContabilidadService_DemeCambio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarAsiento">
      <wsdl:input wsaw:Action="http://tempuri.org/IContabilidadService/AgregarAsiento" message="tns:IContabilidadService_AgregarAsiento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContabilidadService/AgregarAsientoResponse" message="tns:IContabilidadService_AgregarAsiento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarAsiento">
      <wsdl:input wsaw:Action="http://tempuri.org/IContabilidadService/InsertarAsiento" message="tns:IContabilidadService_InsertarAsiento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContabilidadService/InsertarAsientoResponse" message="tns:IContabilidadService_InsertarAsiento_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IContabilidadService" type="tns:IContabilidadService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Saludar">
      <soap:operation soapAction="http://tempuri.org/IContabilidadService/Saludar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmpresas">
      <soap:operation soapAction="http://tempuri.org/IContabilidadService/ObtenerEmpresas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerMonedas">
      <soap:operation soapAction="http://tempuri.org/IContabilidadService/ObtenerMonedas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutenticarUsuario">
      <soap:operation soapAction="http://tempuri.org/IContabilidadService/AutenticarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarNuevoUsuario">
      <soap:operation soapAction="http://tempuri.org/IContabilidadService/InsertarNuevoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarNuevaEmpresa">
      <soap:operation soapAction="http://tempuri.org/IContabilidadService/InsertarNuevaEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarNuevaMoneda">
      <soap:operation soapAction="http://tempuri.org/IContabilidadService/InsertarNuevaMoneda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearCuenta">
      <soap:operation soapAction="http://tempuri.org/IContabilidadService/CrearCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarPeriodoContable">
      <soap:operation soapAction="http://tempuri.org/IContabilidadService/GuardarPeriodoContable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DemeCuentasHijas">
      <soap:operation soapAction="http://tempuri.org/IContabilidadService/DemeCuentasHijas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DemeMonedasCuenta">
      <soap:operation soapAction="http://tempuri.org/IContabilidadService/DemeMonedasCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DemeCambio">
      <soap:operation soapAction="http://tempuri.org/IContabilidadService/DemeCambio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarAsiento">
      <soap:operation soapAction="http://tempuri.org/IContabilidadService/AgregarAsiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarAsiento">
      <soap:operation soapAction="http://tempuri.org/IContabilidadService/InsertarAsiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContabilidadService">
    <wsdl:port name="BasicHttpBinding_IContabilidadService" binding="tns:BasicHttpBinding_IContabilidadService">
      <soap:address location="http://localhost:5603/ContabilidadService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>