Interfaz_WPF/AccesoServicio/Service References/FinanzasService/ContabilidadService62.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4894/ContabilidadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SIA.Libreria" />
  <xs:import schemaLocation="http://localhost:4894/ContabilidadService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SIA.VentaCompra.Libreria" />
  <xs:import schemaLocation="http://localhost:4894/ContabilidadService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SIA.Contabilidad.Libreria" />
  <xs:import schemaLocation="http://localhost:4894/ContabilidadService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SIA.TipoCambio" />
  <xs:element name="obtenerArticuloXBodeba">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCodArticulo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pCodBodega" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerArticuloXBodebaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="obtenerArticuloXBodebaResult" nillable="true" type="q1:ArrayOfArticulo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerTodosArticulos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerTodosArticulosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="obtenerTodosArticulosResult" nillable="true" type="q2:ArrayOfArticulo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerAsientos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerAsientosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="obtenerAsientosResult" nillable="true" type="q3:ArrayOfCuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerIdMoneda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moneda" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerIdMonedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerIdMonedaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerCuentasInventario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerCuentasInventarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="obtenerCuentasInventarioResult" nillable="true" type="q4:ArrayOfCuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerCuentasVentas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerCuentasVentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="obtenerCuentasVentasResult" nillable="true" type="q5:ArrayOfCuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerCuentasCostos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerCuentasCostosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="obtenerCuentasCostosResult" nillable="true" type="q6:ArrayOfCuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerUnidadesMedida">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerUnidadesMedidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="obtenerUnidadesMedidaResult" nillable="true" type="q7:ArrayOfUnidadMedida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerBodegas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerBodegasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="obtenerBodegasResult" nillable="true" type="q8:ArrayOfBodega" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearArticulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="pArticulo" nillable="true" type="q9:Articulo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearArticuloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="crearArticuloResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearBodega">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="pBodega" nillable="true" type="q10:Bodega" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearBodegaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="crearBodegaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSociosCV">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pTipoSocio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSociosCVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SIA.VentaCompra.Libreria" minOccurs="0" name="ObtenerSociosCVResult" nillable="true" type="q11:ArrayOfSocNegocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SIA.VentaCompra.Libreria" minOccurs="0" name="pDocumento" nillable="true" type="q12:Documento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarDocumentoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDocumentosCompras">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDocumentosComprasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SIA.VentaCompra.Libreria" minOccurs="0" name="ObtenerDocumentosComprasResult" nillable="true" type="q13:ArrayOfDocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdDocumento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SIA.VentaCompra.Libreria" minOccurs="0" name="ObtenerDocumentoResult" nillable="true" type="q14:Documento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFacturasXEstadoXSocioNegocio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCodSN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pEstadoFactura" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFacturasXEstadoXSocioNegocioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SIA.VentaCompra.Libreria" minOccurs="0" name="ObtenerFacturasXEstadoXSocioNegocioResult" nillable="true" type="q15:ArrayOfDocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerBancos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerBancosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="obtenerBancosResult" nillable="true" type="q16:ArrayOfBanco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setearFacturas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDoc" type="xs:int" />
        <xs:element minOccurs="0" name="pEstado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setearFacturasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setearFacturasResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarTransferencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SIA.VentaCompra.Libreria" minOccurs="0" name="pTransferencia" nillable="true" type="q17:Transferencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarTransferenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertarTransferenciaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDocumentosVentas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDocumentosVentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SIA.VentaCompra.Libreria" minOccurs="0" name="ObtenerDocumentosVentasResult" nillable="true" type="q18:ArrayOfDocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearSocioDeNegocio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TipoSocio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdMoneda" type="xs:int" />
        <xs:element minOccurs="0" name="CuentaAsociada" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LimiteCredito" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearSocioDeNegocioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearSocioDeNegocioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCuentaDeMayorXCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoSN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCuentaDeMayorXCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerCuentaDeMayorXCodigoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerIDMonedaCuentaDeMayorXCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoSN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerIDMonedaCuentaDeMayorXCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerIDMonedaCuentaDeMayorXCodigoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNombreCuentaDeMayorSN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoSN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNombreCuentaDeMayorSNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerNombreCuentaDeMayorSNResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSaldoCuenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoCuentaSN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdMoneda" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSaldoCuentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerSaldoCuentaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarBanco">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="pBanco" nillable="true" type="q19:Banco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarBancoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertarBancoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCuentasHojas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pNombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCuentasHojasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="ObtenerCuentasHojasResult" nillable="true" type="q20:ArrayOfCuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarCreditoSaldo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCodigoCliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarCreditoSaldoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="consultarCreditoSaldoResult" nillable="true" type="q21:ConsultaSaldo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Saludar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaludarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaludarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEmpresas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEmpresasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerEmpresasResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMonedas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMonedasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="ObtenerMonedasResult" nillable="true" type="q22:ArrayOfMoneda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutenticarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="pUsuario" nillable="true" type="q23:Usuario" />
        <xs:element minOccurs="0" name="pNombreEmpresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutenticarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AutenticarUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarNuevoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="pUsuario" nillable="true" type="q24:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarNuevoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarNuevoUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarNuevaEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="pEmpresa" nillable="true" type="q25:Empresa" />
        <xs:element minOccurs="0" name="pLogo" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarNuevaEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarNuevaEmpresaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarNuevaMoneda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="pMoneda" nillable="true" type="q26:Moneda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarNuevaMonedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarNuevaMonedaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearCuenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="pCuenta" nillable="true" type="q27:Cuenta" />
        <xs:element minOccurs="0" name="pXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearCuentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearCuentaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarPeriodoContable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pFechaIn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pFechaFin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pAno" type="xs:int" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="pArregloMeses" nillable="true" type="q28:ArrayOfMes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarPeriodoContableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarPeriodoContableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DemeCuentasHijas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DemeCuentasHijasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="DemeCuentasHijasResult" nillable="true" type="q29:ArrayOfCuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DemeMonedasCuenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCuenta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DemeMonedasCuentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="DemeMonedasCuentaResult" nillable="true" type="q30:ArrayOfMoneda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DemeCambio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="pOrigen" nillable="true" type="q31:Moneda" />
        <xs:element minOccurs="0" name="pValor" type="xs:double" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="pDestino" nillable="true" type="q32:Moneda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DemeCambioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DemeCambioResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarAsiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MontoDebe" type="xs:double" />
        <xs:element minOccurs="0" name="MontoHaber" type="xs:double" />
        <xs:element minOccurs="0" name="pXML" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pTipoAsiento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarAsientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarAsientoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMonedasSistema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pAtributo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMonedasSistemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="ObtenerMonedasSistemaResult" nillable="true" type="q33:Moneda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarAsiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/SIA.Contabilidad.Libreria" minOccurs="0" name="pAs" nillable="true" type="q34:Asiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarAsientoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertirAMonedaSistema">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/SIA.TipoCambio" minOccurs="0" name="pMoneda" type="q35:MonedasValidas" />
        <xs:element minOccurs="0" name="pValor" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertirAMonedaSistemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertirAMonedaSistemaResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertirAMonedaLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="pMoneda" nillable="true" type="q36:Moneda" />
        <xs:element minOccurs="0" name="pValor" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertirAMonedaLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertirAMonedaLocalResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCuentasHijasSegunPadre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pNombrePadre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCuentasHijasSegunPadreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="ObtenerCuentasHijasSegunPadreResult" nillable="true" type="q37:ArrayOfCuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCuentasCierreCompras">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCuentasCierreComprasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="ObtenerCuentasCierreComprasResult" nillable="true" type="q38:ArrayOfCuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCuentasCierreIngresos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCuentasCierreIngresosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="ObtenerCuentasCierreIngresosResult" nillable="true" type="q39:ArrayOfCuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCuentasCierreGastos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCuentasCierreGastosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="ObtenerCuentasCierreGastosResult" nillable="true" type="q40:ArrayOfCuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCuenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pNombreCuenta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCuentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="ObtenerCuentaResult" nillable="true" type="q41:Cuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCuentasTreeView">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCuentasTreeViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="ObtenerCuentasTreeViewResult" nillable="true" type="q42:ArrayOfCuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProductosCV">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProductosCVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/SIA.VentaCompra.Libreria" minOccurs="0" name="ObtenerProductosCVResult" nillable="true" type="q43:ArrayOfProductoCV" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCuentasDeMayorSN">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCuentasDeMayorSNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="ObtenerCuentasDeMayorSNResult" nillable="true" type="q44:ArrayOfCuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>