Interfaz_WPF/AccesoServicio/Service References/FinanzasService/ContabilidadService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SIA.Contabilidad.Libreria" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SIA.Contabilidad.Libreria" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5603/ContabilidadService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SIA.Libreria" />
  <xs:complexType name="Asiento">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SIA.Libreria" minOccurs="0" name="Cuenta" nillable="true" type="q1:Cuenta" />
      <xs:element minOccurs="0" name="DebeMonedaOtra" type="xs:double" />
      <xs:element minOccurs="0" name="DebeMonedaSistema" type="xs:double" />
      <xs:element minOccurs="0" name="FechaContable" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HaberMonedaOtra" type="xs:double" />
      <xs:element minOccurs="0" name="HaberMonedaSistema" type="xs:double" />
      <xs:element minOccurs="0" name="MonedaAcronimo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroAsiento" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Asiento" nillable="true" type="tns:Asiento" />
</xs:schema>